<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>906556175649-i9lbe5fkjp9sa7jbjk4pp39avf7lgura.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906556175649-i9lbe5fkjp9sa7jbjk4pp39avf7lgura</string>
	<key>API_KEY</key>
	<string>AIzaSyDYORIlnf0dtgzeMyH-cp7xpM7Xc0a0CuE</string>
	<key>GCM_SENDER_ID</key>
	<string>906556175649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ms.myHomeServer</string>
	<key>PROJECT_ID</key>
	<string>myhome-63718</string>
	<key>STORAGE_BUCKET</key>
	<string>myhome-63718.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:906556175649:ios:803a7a68358c536b</string>
	<key>DATABASE_URL</key>
	<string>https://myhome-63718.firebaseio.com</string>
</dict>
</plist>