{
    "probes": [
        {
            "maxTemp": 60,
            "minTemp": -1000,
            "name": "teplomer1",
            "probeName": "28-021564f10eff"
        },
        {
            "maxTemp": 60,
            "minTemp": -1000,
            "name": "teplomer2",
            "probeName": "28-021564ce28ff"
        }
    ]
}